<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>TOP</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <div class="filter-area">
        <div class="date-filter">
            <form th:object="${dateFilterForm}" th:action="@{/(since=*{since}, until=*{until})}" method="get">
                <label>日付：</label>
                <input type="date" th:field="*{since}" th:value="*{since}">
                <label>～</label>
                <input type="date" th:field="*{until}" th:value="*{until}">
                <input type="submit" value="絞り込み">
            </form>
        </div>
    </div>
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <div class="message-icon" th:each="content : ${contents}">
        <div class="message">
            <div>
                <span th:text="'ID : ' + ${content.id}"/>
                <span class="date-time" th:text="${#temporals.format(content.updatedDate, 'yyyy/MM/dd HH:mm')}"/>
            </div>
            <div class="text">
                <span th:text="'投稿 : ' + ${content.content}"/>
            </div>
        </div>
        <div class="delete-button">
            <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                <input type="submit" value="削除">
            </form>
        </div>
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="button" value="編集">
            </a>
        </div>
        <div class="comment-button">
            <a th:href="@{/comment/new/{id}(id=${content.id})}">
                <input type="button" value="返信">
            </a>
        </div>
        <div class="comments-area">
            <div class="comment-icon" th:each="comment : ${comments}" th:if="${comment.reportId}==${content.id}">
                <div>
                    <span th:text="'返信ID : ' + ${comment.id}"/>
                    <span class="date-time" th:text="${#temporals.format(comment.updatedDate, 'yyyy/MM/dd HH:mm')}"/>
                </div>
                <div class="text">
                    <span th:text="'返信 : ' + ${comment.content}"/>
                </div>
                <div class="delete-button">
                    <form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
                <div class="edit-button">
                    <a th:href="@{/comment/edit/{id}(id=${comment.id})}">
                        <input type="button" value="編集">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

